/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2025 Thewizards 
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * COLORS - NEW THEME: CRIMSON & VIOLET
   */

  /* Main Accent Colors */
  --accent-red: hsl(350, 85%, 55%);
  --accent-purple: hsl(270, 90%, 65%);

  /* Background Colors */
  --bg-charcoal: hsl(220, 15%, 10%);
  --bg-charcoal-light: hsl(220, 15%, 15%);
  --bg-charcoal-alpha-90: hsla(220, 15%, 15%, 0.9);
  --bg-charcoal-alpha-80: hsla(220, 15%, 15%, 0.8);

  /* Transparent Accent Colors */
  --accent-red-alpha-30: hsla(350, 85%, 55%, 0.3);
  --accent-red-alpha-15: hsla(350, 85%, 55%, 0.15);

  /* Gradient Colors */
  --gradient-1: linear-gradient(to right, var(--accent-red), var(--accent-purple));
  --gradient-2: linear-gradient(90deg, transparent 0%, var(--accent-red) 50%, transparent 100%);

  /* Text Colors */
  --text-white: hsl(0, 0%, 100%);
  --text-gainsboro: hsl(0, 0%, 87%);

  /* Border Colors */
  --border-charcoal-light: hsl(220, 15%, 25%);
  --border-red-alpha-30: hsla(350, 85%, 55%, 0.3);

  /**
   * TYPOGRAPHY
   */

  /* font family */
  --fontFamily-oxanium: 'Oxanium', cursive;
  --fontFamily-work-sans: 'Work Sans', sans-serif;

  /* font size */
  --fontSize-1: 3.6rem;
  --fontSize-2: 2.4rem;
  --fontSize-3: 2rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 1.6rem;
  --fontSize-6: 1.5rem;
  --fontSize-7: 1.4rem;
  --fontSize-8: 1.2rem;

  /* font weight */
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /**
   * SPACING
   */

  --section-spacing: 60px;

  /**
   * BOX SHADOW
   */

  --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);

  /**
   * BORDER RADIUS
   */

  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-3: 3px;

  /**
   * CLIP PATH
   */

  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);

  /**
   * TRANSITION
   */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
time,
span,
input,
button,
textarea,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-charcoal);
  background-image: url("../images/body-bg.jpg");
  background-repeat: repeat;
  color: var(--text-gainsboro);
  font-family: var(--fontFamily-oxanium);
  font-size: var(--fontSize-4);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  overflow-x: hidden;
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background-color: var(--bg-charcoal); }

::-webkit-scrollbar-thumb { background-color: var(--accent-red); }

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 12px; }

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.title { color: var(--text-white); }

.h1,
.h3 { line-height: 1.3; }

.h1 {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-semiBold);
}

.h2 {
  font-size: var(--fontSize-2);
  line-height: 1.4;
}

.h3 { font-size: var(--fontSize-3); }

.section-title,
.section-subtitle,
.section-text { text-align: center; }

.section-subtitle {
  color: var(--text-white);
  font-weight: var(--weight-semiBold);
  font-size: var(--fontSize-5);
  text-transform: uppercase;
}

.btn {
  position: relative;
  background-image: var(--gradient-1);
  color: var(--text-white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
  max-width: max-content;
  min-width: 180px;
  height: 50px;
  display: grid;
  place-items: center;
  padding-inline: 30px;
  clip-path: var(--clip-path-3);
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: var(--top, 50%);
  left: var(--left, 50%);
  width: 250%;
  padding-block-end: 250%;
  background-color: var(--bg-charcoal-light);
  transform: translate(-50%, -50%) scale(0);
  border-radius: var(--radius-circle);
  z-index: -1;
  transition: transform var(--transition-2);
}

.btn:is(:hover, :focus-visible)::before { transform: translate(-50%, -50%) scale(1); }

.w-100 { width: 100%; }

.section { padding-block: var(--section-spacing); }

.section-title {
  margin-block: 10px;
  text-transform: uppercase;
}

.section-title .span {
  display: inline;
  color: var(--accent-red);
}

.section-text {
  margin-block-end: 40px;
  max-width: 480px;
  margin-inline: auto;
}

.social-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

[data-reveal] {
  opacity: 0;
  transition: var(--transition-2);
}

[data-reveal="left"] { transform: translateX(-20px); }

[data-reveal="right"] { transform: translateX(20px); }

[data-reveal="bottom"] { transform: translateY(20px); }

[data-reveal].revealed {
  opacity: 1;
  transform: translate(0);
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to right, var(--accent-red), var(--accent-purple));
  padding: 10px 12px;
  z-index: 4;
}

.header.active {
  position: fixed;
  animation: slideUP 1s ease forwards;
}

@keyframes slideUP {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn .line {
  height: 3px;
  width: 10px;
  margin-block: 4px;
  background-color: var(--text-gainsboro);
  border-radius: 8px;
  transition: var(--transition-1);
}

.nav-toggle-btn .line-2 { width: 20px; }

.nav-toggle-btn .line-3 { margin-inline-start: auto; }

.nav-toggle-btn.active .line-2 { transform: rotate(-45deg); }

.nav-toggle-btn.active .line-1 { transform: rotate(45deg) translate(4px, 1.5px); }

.nav-toggle-btn.active .line-3 { transform: rotate(45deg) translate(-3px, -1px); }

.navbar {
  position: absolute;
  top: calc(100% - 1px);
  right: 12px;
  left: 12px;
  background-image: linear-gradient(to right, var(--accent-red), var(--accent-purple));
  padding: 0 15px;
  clip-path: var(--clip-path-1);
  visibility: hidden;
  transition: clip-path 500ms var(--cubic-out);
}

.navbar.active {
  clip-path: var(--clip-path-2);
  visibility: visible;
}

.navbar-link {
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
  color: var(--text-white);
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-link:is(:hover, :focus-visible) {
  color: var(--text-white);
  transform: scale(1.1);
}

.navbar-item {
  border-block-start: 1px solid hsla(0, 0%, 100%, 0.15);
}

.navbar-item:last-child {
  border-block-end: 1px solid hsla(0, 0%, 100%, 0.15);
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block-start: 170px;
  text-align: center;
}

.hero-title {
  margin-block: 10px 20px;
  text-transform: uppercase;
}

.hero-text {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-bold);
  color: var(--text-white);
  line-height: 1.3;
  margin-bottom: 25px;
}
